table{
border-radius: 15px;
  background: black;
  padding: 20px;
font-family:verdana;
background-color: rgba(255, 0, 0, 0.3);
}
table:hover{
border-radius: 15px;
  background: black;
  padding: 20px;
box-shadow: 4px 4px;
font-family:verdana;
background-color: rgba(255, 0, 0, 0.3);
}
h3 {
text-shadow: 1px 1px;
  color: navy;
  margin-left: 20px;
  font-size:35px;
}
b{
color:red;}

u:hover{
box-shadow: 3px 3px;
color:navy;}

#marquee {
marquee-direction:right;
marquee-speed:fast;
color:green !important;
font-size:20px;
}